<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Prediction</title>
</head>
<body>
    <h1 style="text-align:center">Facial Emotion Recognition</h1>
    <div class="container">
        <div class="row">
          <div class="col">
      
            <h3>Upload Image</h3>
            <hr>
      
            <form action="/upload-image" method="POST" enctype="multipart/form-data">
      
              <div class="form-group">
                <label>Select image</label>
                <div class="custom-file">
                  <input type="file" class="custom-file-input" name="image" id="image">
                  <label class="custom-file-label" for="image">Select image...</label>
                  
                </div>
              </div>
      
              <button type="submit" class="btn btn-primary">Upload</button>

              
      
            </form>

            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            

            {{prediction_text}}
            
      
          </div>
        </div>
      </div>
</body>
</html>